<html>
  <head>
    <title>App Tasks</title>
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity = "sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin = "anonymous" />
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity = "sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin = "anonymous" />
    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity = "sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin = "anonymous">
    </script>
    <style>.table-striped { width: auto !important; }
                              td, th { text-align: center; }
    </style>
    <meta http-equiv = "refresh" content = "30" />
  </head>
  <body>
    <div style = "padding: 25px 25px 25px 25px;">
      <p>
        <wo:link pageName = "AppTaskPage">All Instances</wo:link>
        &nbsp;-&nbsp;
        <wo:ERXDataHyperlink pageName = "AppTaskPage" onlyShowNonZero = "$true">All Non-Zero Instances</wo:ERXDataHyperlink>
        &nbsp;-&nbsp;
        <wo:link pageName = "AppTaskCreatePage">New Task</wo:link>
      </p>
      <table class = "table table-striped">
        <caption>App Tasks</caption>
        <thead>
          <tr>
            <th>Task</th>
            <th>Interval</th>
            <th>State</th>
            <th>Enable?</th>
            <th>Launch?</th>
            <th>
              <wo:if condition = "$displayingTasksOldestRan">
                <wo:link action = "$displayTasksSoonestToRun">Last Run</wo:link>
              </wo:if>
              <wo:else>
                <wo:link action = "$displayTasksOldestRan">Next to Run</wo:link>
              </wo:else>
            </th>
            <th>Last Runtime</th>
            <th>Last Result</th>
          </tr>
        </thead>
        <tbody>
          <wo:loop list = "$tasks" item = "$task">
            <tr>
              <td>
                <wo:ERXDataHyperlink pageName = "AppTaskPage" task = "$task"><wo:str value = "$task.fullName" /></wo:ERXDataHyperlink>
              </td>
              <td><wo:str value = "$task.intervalName" /></td>
              <wo:if condition = "$taskIsActive">
                <td style = "background-color: #BBEA89;">active</td>
              </wo:if>
              <wo:if condition = "$taskIsInactive">
                <td style = "background-color: #ECE763;">inactive</td>
              </wo:if>
              <wo:if condition = "$task.isQueued">
                <td>queued</td>
              </wo:if>
              <wo:if condition = "$task.isRunning">
                <td style = "background-color: #F7D358;">running</td>
              </wo:if>
              <td>
                <wo:if condition = "$task.isQuiet">
                  <wo:link action = "$flipEnableTask">
                    <wo:if condition = "$task.enabled">disable</wo:if>
                    <wo:else>enable</wo:else>
                  </wo:link>
                </wo:if>
              </td>
              <td>
                <wo:if condition = "$task.isQuiet">
                  <wo:link action = "$enqueueTask">push</wo:link>
                  &nbsp;-&nbsp;
                  <wo:link action = "$runTask">run</wo:link>
                </wo:if>
                <wo:if condition = "$task.isQueued">
                  <wo:link action = "$dequeueTask">dequeue</wo:link>
                </wo:if>
              </td>
              <td><wo:str value = "$task.lastInstanceAge" /></td>
              <td>
                <wo:str value = "$task.latestInstance.runtime" numberformat = "0" />
                <wo:if condition = "$task.latestInstance.runtime">&nbsp;s</wo:if>
              </td>
              <td><wo:str value = "$task.latestInstance.result" numberformat = "0" /></td>
            </tr>
          </wo:loop>
        </tbody>
      </table>
    </div>
  </body>
</html>
